# Ignore bin and obj folders
bin/
obj/

# Ignore .NET Core runtime files
runtimes/

# Ignore VS Code settings
.vscode/

# Ignore NuGet packages
packages/

# Ignore .git attributes
.gitattributes

# Ignore .git ignore files
.gitignore

# Ignore API-specific files
Migrations/
appsettings.json
web.config
launchSettings.json